body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #d29f67;
  font-family: "Arial", sans-serif;
}

.container {
  text-align: center;
}

.header_text {
  font-size: 3em;
  color: white;
}

.gif_container img {
  width: 100%;
  max-width: 500px;
  height: auto;
}
